---
---

@import "{{ site.theme }}";

// h2 {
//   display: inline-block;
//   margin-bottom: 1rem;
// }

// td {
//   font-size: 1.0rem;
// }

// summary { // "Temporary" hack for h2-inside-summary formatting
//   margin-bottom: 1rem;
//   font-weight: normal;
//   color: #159957;
//   display: list-item;
//   font-size: 1.2rem;
//   cursor: pointer;
// }

// summary > p {
//   display: inline;
// }

// .page-header {
//   padding-bottom: 0em !important;
//   a.btn { display: none; }
// }

// // Don't wrap the Source or Date Added columns
// tr {
//   td:nth-child(5), td:nth-child(6) {
//     white-space: nowrap;
//   }
// }

// Centre the text in the first table column
td:nth-child(1) {
  text-align: center;
}

// .footnotes {
//   font-size: smaller;
// }

// Make the Summary cell easier to read
// .td:nth-child(3) { 
//     max-width: 200px;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }


@media screen and (min-width: 64em) {
  .main-content {
      max-width:100rem;
      padding: 2rem 6rem;
      margin: 0 auto;
      font-size: 1.1rem
  }
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}